.wpchill-kb-wrapper {
  max-width: 100%;
  width: 100%;
}

.wpchill-kb-content-container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.wpchill-kb-page-container {
  display: flex;
  min-height: calc(100vh - 60px);
  position: relative;
}

.wpchill-kb-main-content {
  padding: calc(#{$spacing-unit} * 1.5);
  overflow-y: auto;
  width: 60%;
  box-sizing: border-box;

  .wpchill-kb-main-content-wrap {
    max-width: 48rem;
    margin: 0 auto;
  }
}
