
.wpchill-kb-article-list {
  margin-top: calc(#{$spacing-unit} / 2);
  list-style-type: none;
  padding: calc(#{$spacing-unit} / 2);

  li {
    border-top: 1px solid $border-color;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    font-size: 16px;
    line-height: 1.75;

    &:first-of-type {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    &:last-of-type {
      border-bottom: 1px solid $border-color;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  .wpchill-kb-icon {
    color: #fff;
    font-size: 18px;
    padding: 3px;
    align-content: center;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    border-radius: 4px;
  }

  .wpchill-kb-article {
    .wpchill-kb-icon {
      background-color: #75e1b8;
    }
  }

  a {
    text-decoration: none;
    color: $text-color;
    display: flex;
    width: 100%;
    padding: calc(#{$spacing-unit} / 2);
    justify-content: flex-start;
    align-items: center;
    column-gap: calc(#{$spacing-unit} / 4);

    &:hover {
      background-color: $selected-color;
    }
  }
}

.wpchill-kb-categories-container {
  width: 80%;
  margin: calc($spacing-unit * 2) auto;

  .wpchill-kb-category-wrapper {
    display: grid;
    gap: $spacing-unit;
    list-style-type: none;
    padding: 0;
    margin: calc($spacing-unit * 2) 0;
    .wpchill-kb-category-item {
      padding: calc( $spacing-unit * 1.5 );
      border: 1px solid #e2e8ef;
      border-radius: 15px;
      text-decoration: none;
      &:hover {
        background-color: #eef2ff;
        border-color: #9bbce4;
      }
      .wpchill-kb-icon {
        color: #fff;
        font-size: 22px;
        padding: 3px;
        align-content: center;
        width: 30px;
        height: 30px;
        box-sizing: border-box;
        border-radius: 4px;
        margin-bottom: $spacing-unit;
      }

      .wpchill-kb-category-name {
        font-size: 18px;
        margin: 0 0 calc($spacing-unit / 2) 0;
  
        a {
          color: $text-color;
        }
      }
  
      .wpchill-kb-category-description {
        font-size: 14px;
        color: lighten($text-color, 20%);
        margin: 0 0 calc(#{$spacing-unit} / 2) 0;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 6;
      }
  
      .wpchill-kb-count {
        font-size: 12px;
        color: lighten($text-color, 40%);
      }
    }
  }

  .wpchill-kb-article-list {
    margin-top: calc(#{$spacing-unit} / 2);
    list-style-type: none;
    padding: calc(#{$spacing-unit} / 2);

    li {
      border-top: 1px solid $border-color;
      border-left: 1px solid $border-color;
      border-right: 1px solid $border-color;
      font-size: 16px;
      line-height: 1.75;

      &:first-of-type {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      &:last-of-type {
        border-bottom: 1px solid $border-color;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }

    .wpchill-kb-icon {
      color: #fff;
      font-size: 18px;
      padding: 3px;
      align-content: center;
      width: 24px;
      height: 24px;
      box-sizing: border-box;
      border-radius: 4px;
    }

    .wpchill-kb-article {
      .wpchill-kb-icon {
        background-color: #75e1b8;
      }
    }

    a {
      text-decoration: none;
      color: $text-color;
      display: flex;
      width: 100%;
      padding: calc(#{$spacing-unit} / 2);
      justify-content: flex-start;
      align-items: center;
      column-gap: calc(#{$spacing-unit} / 4);

      &:hover {
        background-color: $selected-color;
      }
    }
  }
  @media (min-width: 640px) {
    .wpchill-kb-category-wrapper {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  @media (min-width: 1024px) {
    .wpchill-kb-category-wrapper {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
  @media (min-width: 1280px) {
    .wpchill-kb-category-wrapper {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}
