.wpchill-kb-dropdown {
    position: relative;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    .wpchill-kb-dropdown-selected {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .dashicons {
            margin-right: 10px;
        }
    }
    .wpchill-kb-dropdown-options {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        z-index: 10;
        max-height: 200px;
        overflow-y: auto;
        .wpchill-kb-dropdown-option {
            padding: 10px;
            display: flex;
            align-items: center;
            transition: background-color 0.3s;
            &:hover {
                background-color: #f0f0f0;
            }
            .dashicons {
                margin-right: 10px;
            }
            &.selected {
                background-color: #007cba;
                color: #fff;
            }
        }
    }
}
